# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

#backend
**/backend/delete_input
**/backend/delete_output
**/backend/docx_input
**/backend/docx_input
**/backend/image_input
**/backend/image_output
**/backend/imagetext_input
**/backend/imagetext_output
**/backend/myeno
**/backend/output_files
**/backend/uploads
**/src/test
**/src/components/Extra.js

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
