.merge-btn{
  padding: 20px;
  margin: 30px;
  font-size: 28px;
  font-weight: bold;
  color: blue;
  background-color: plum;
  border-radius: 16px;
  max-width: fit-content;
  cursor: pointer;
}
.msg{
  color: red;
  font-size: x-large;
}

.heading{
  text-align: center;
    background-color: burlywood;
    margin: 0;
    padding: 25px;
}
.merge-form-merge-file{
  padding: 40px;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  background-color: beige;
  max-width: fit-content;
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

